.foto{
    margin-top: 30px;
    margin-bottom: 20px;
}

#logo{
    margin-top: 90px;
    margin-bottom: 130px;
}

article{
    font-size: 25px;
    margin-top: 40px;
}

#descargar{
    margin-top: 30px;
}

footer{
    margin-top: 200px;
}

#video{
    margin-top: 70px;
}